{% extends "base.html" %}
{% block title %} Limitación problema {% endblock %}
{% block content %}
<main class="container mt-5", style="color: #0a1845">
    <h1 style="font-weight: bold">About OpenHR</h1>
    <div class="py-4">
        <p class="lead">Vivimos tiempos posmodernos, entendamos la modernidad como una actitud frente a las cosas, que ha intentado hacerse cargo de la construcción de sentido de la realidad y romper frente a cualquier tipo de imposición externa. 
            Dejando atras el pasado y apostando por una nueva realidad realizable por el hombre. Mientras que la posmodernidad reconoce que el proyecto moderno esta agotado e invita a explorar otras posibilidades y OpenHR se encuentra justo a la mitad, cambiar la realidad utilizando tecnología y al hombre. 
            Buscando la vanguardía, ir siempre para adelante, visualizando hacia donde se produciran los cambios, criticando siempre el presente, pero estando muy seguros que es junto con el ser humano que se produciran los cambios. 
            Pero siempre con el pensamiento posmoderno presente, donde sabemos que el ser humano no va a cambiar el mundo solo, sino con la ayuda de la tecnología. Y una transformación más localizada como es la lucha de las minorías, el respeto por la diversidad, etc. 
            Y es que posmodernidad también puede pensarse como que la modernidad no se dió por buen camino, pero eso no importa, si los tiempos son modernos o posmodernos, el punto será liberarse de todo dogma, de toda atadura, de toda imposición.
            OpenHR pretende ser un espacio para compartir todo tipo de ideas y expandirlas, pero también para solucionar problemas a través del uso de la tecnología, en organización y administración de personal. Sin embargo, pretende ser una plataforma para que los empleados tengan voz y se les pueda empoderar, priorizando más no limitando, los productos enfocados a la mejora de las condiciones de las personas por sobre las organizaciones. 
            Su nombre hace referencia a proyectos de licencia libre (Open-Source). Aunque el fin del proyecto es desarrollar productos teconologicos para mejorar la vida laboral creemos que existen muchas formas de adoptar la culura open-source en productos no-software.
        </p>
        <h3>¿Quién puede participar?</h3>
        <p class="lead">
            Para ser parte del proyecto es indispensable tener estudios previos en mínimo una de las siguientes disciplinas:
            <ul>
                <li>Ciencias del ocio</li>
                <li>Estudios dudeistas</li>
                <li>Ciencias de la comedia</li>
                <li>Estudios Lebowski</li>
                <li>Teoría de la simplicidad</li>
                <li>Memética</li>
                <li>Agricultura teológica</li>
              </ul>
            Lo anterior es una ocurrencia para dejar muy claro que cualquiera puede participar y dichas disciplinas son los grados que ofrece la Universidad Abide que puede saber más en el siguiente link (por supuesto no es necesario que los tengas). 
            En pocas palabras cualquier persona entusiasmada en el desarrollo de tecnologías para mejorar la vida de las personas puede participar, empieza por hacerle un fork a nuestro repositorio. Y recuerda que pretendemos desarrollar conocimiento que desafie a las instituciones actuales.
            A continucación se desarrollarán ideas que enfatizan en la importancia de proyectos como OpenHR
        </p>
        <h3>Sobre el conocimiento y estudios de la organización y la administración del personal</h3>
        <p class="lead">
            En esta sección no profundizaremos en la manera actual en que se desarrollan los recursos humanos, pero una crítica hacia el estudio de los mismos. De acuerdo con Martin Parker (2018) en su libro "Shutdown the business school", el conocimiento esta moldeado por donde lo extraemos, por dónde conocemos, por las preguntas que se nos impulsa a responder pero tambien por las que se nos limitan. 
            Las instituciones son un conjunto de normas que ordenenan, además, apelan a producir formas de pensamiento particulares, por lo que los procesos, sistemas y estructuras de la organización contienen ciertas formas de pensamiento. 
            Es muy importante diferenciar las universidades de las escuelas de negocio, ya que estas últimas tienen formas muy peculiares de pensamiento. Las primeras son instituciones donde se pretende conocer, mientras que las segundas tienen formas enfocadas a comerciar sobre liderazgo y "management".
            Específicamente la escuela de negocios es una institución que se repoduce a si misma, en pocas palabra, la misma forma en como es dirigida es enseñada y tambiénpretende enseñar como dirigir otras instituciones. 
            Que ha dejado de ser una disciplina formada de otras disciplinas (economía, sociología, psicología), y lograr ser vista como un conocimiento por aparte, lo cual es institucionalizado con un departamento (un espacio) para adoctrinar a diestra y siniestra. 
            El management es una forma muy específica de dirigir, y no es la única, aunque se pretenda esconder o hacer creer lo contrario; y es muy característica ya que asume una organización jerarquica y comercio de mercado, ilustrandola como la única y mejor forma de realizar dicha actividad, al ser vista como un grupo de ocupación, una disciplica academica y una habilidad práctica. 
            Las cosas no son lo que son, sino lo que somos, imponiendo nuestra identidad sobre todas las cosas, proyectando el yo sobre el otro, buscando incorporar, incluir, integrar al otro, pero, ¿a qué costo? Y ¿al incluirlo no esta perdiendo su identidad? Yo me expando, pero el otro pierde. ¿Dónde está lo otro para el management afuera o adentro? De acuerdo con Nietzche toda busqueda de sentido es una busqueda de seguridad.
        </p>
        <h3>Un poco de inspiración</h3>
        <h4>El orden</h4>
        <p class="lead">
            Una de las formas en que el orden funciona es naturalizandose, en pocas palabras haciendose ver como si fuera real o verdadero, por lo tanto inmodificable. La anarquía es aquello que carece de principio ordenatorio, pero en el mundo liberal se le asocia con el caos y una guerra de todos contra todos. 
            Lo cual es muy conveniente para el orden impuesto por intereses de clase que limita nuestro pensamiento. Con la gloablización existe un nuevo orden mundial donde todo lo irracional de la humanidad pretende ser eliminado. El capitlismo tardío legitima un orden para algunos y no se hace cargo de las demandas mundiales de hambra y miseria. 
            Un orden donde la mayoría de la gente sobra. ¿Qué es primero al pensar el orden social? ¿Es la comunidad o el individuo? Comunitarsimo vs. contractualismo. En el comunitariso la sociedad siempre esta previa al individuo, y es que nacemos en una sociedad. 
            Pero, ¿qué es aquello que nos une? En el contractualismo se habla de la sociedad como consecuencia, pero, no previa, lo único previo es el ser humano libre, individual y con ganas de sobrevivir; para ello firman un contrato donde se someten a una seria de leyes, de reglas, pero el gran problema es que todo se vuelve contrato: la amistad, la educación, el matrimonio.<br>
            <b>Preguntas que se deben de impulsar:</b><br>
            ¿Quienes estan adentro y quienes del lado de afuera?<br>
            ¿Hay un orden en las cosas? no es acaso ¿el hombre el que las ordena?<br>
            ¿Por qué necesitamos ordenar al mundo?<br>
            ¿Es el caos malo?<br>
            ¿El orden no refleja el interes del más poderoso?    
        </p>
        <h3>Sobre el trabajo</h3>
        <p class="lead">
            Bull shit job: "Una forma de empleo remunerado que es completamente absurdo, inecesario o pernicioso, que ni siquiera el empleado puede justificar su existencia, aunque como parte de las condiciones del empleo, el empleado se siente obligado a pretender que este no es el caso."
        </p>
    </div>

</main>
{% endblock %}