{% block libraries %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% extends "base.html" %}
{% block title %} Data {% endblock %}
{% block content %}

<div id="charts" class="container_plot">
    <div id="{{ids[0]}}"></div>
</div>
<!--Informacion sobre el plot-->
<div class="container_plot">
    <b>¿Qué es esto?</b><br>
    Aquel estado con mayor busquedas de "Bolsa de Trabajo" adquiere el valor de busqueda de 100% y luego los valores se adquieren de acuerdo a la proporción de valores.
</div> 
<div id="charts" class="container_plot">
    <div id="{{ids[1]}}"></div>
</div>
{% endblock %}

{% block footer %}
<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>
{% endblock %}