{% block libraries %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% extends "base.html" %}
{% block title %} Data {% endblock %}
{% block content %}

<div id="charts" class="container_plot">
    <div id="{{ids[0]}}"></div>
</div>
<div class="container_plot">
    <b>¿Qué es esto?</b><br>
    Aquella época que refleja mayor interés en "Bolsa de Trabajo" adquiere el valor de búsqueda de 100% y luego los valores se adquieren de acuerdo a la proporción de búsquedas. 
    En las fechas que tomamos ya ha habido mejoras en la geolocalización.
</div> 
<div id="charts" class="container_plot">
    <div id="{{ids[1]}}"></div>
</div>
<div class="container_plot">
    <b>Predicciones</b><br>
    Para aprender como funcionan las predicciones provistas puedes visitar la siguiente <a href="{{ url_for('plot') }}">liga</a>, con toda la información al respecto.
    Hemos incluido las predicciones ajustando para valores antes del Covid-19 (pre-covid) y valores durante Covid-19.
</div> 
<div id="charts" class="container_plot">
    <div id="{{ids[7]}}"></div>
</div>
<div id="charts" class="container_plot">
    <div id="{{ids[2]}}"></div>
</div>
<!--Informacion sobre el plot-->
<div class="container_plot">
    <b>¿Qué es esto?</b><br>
    Aquel estado con mayor búsquedas de "Bolsa de Trabajo" adquiere el valor de búsqueda de 100% y luego los valores se adquieren de acuerdo a la proporción de búsquedas. 
    Sin embargo estas no toman en cuenta la población de cada uno de los estados por lo que será importante mirarla.
</div> 
<div id="charts" class="container_plot_slider">
    <div id="{{ids[3]}}"></div>
</div>
<div id="charts" class="container_plot_slider">
    <div id="{{ids[4]}}"></div>
</div>
<div id="charts" class="container_plot_dropdown">
    <div id="{{ids[5]}}"></div>
</div>
<div id="charts" class="container_plot_dropdown">
    <div id="{{ids[6]}}"></div>
</div>
{% endblock %}

{% block footer %}
<footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

</footer>
{% endblock %}