{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<header style="background-color: #f8f4ee;">
	<div class="container text-center">
		<font color="#0a1845">
			<h1>
				<b>OpenHR</b>
			</h1>
		</font>
		<p>This place aims to apply Block Chain Technology to management tasks. As well as a technological framework to solve administrative jobs in organizations</p>
	</div>
</header>
<hr class="featurette-divider">
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h3>Who are we</h3>
			</div>
		</div>
      </div>
</section>
{% endblock %}