{% extends "base.html" %}
{% block title %} LP Solution {% endblock %}
{% block content %}
<main role="main" class="container mt-4">
    <div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto">
        <font color="#0a1845">
            <h1 style="font-weight: bold">Solution</h1>
            <p class="lead">Proposed solution using simple linear programming for scheduling problem solved with SIMPLEX for the six groups filled before. Kindly use the given number of workers to be used for each 4 hours group.</p>
        </font>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">24:00 - 08:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[0]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">04:00 - 12:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[1]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal">08:00 - 16:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[2]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">12:00 - 20:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[3]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">16:00 - 24:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[4]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal">20:00 - 04:00</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{opt_x[5]}} </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Workers necessary to start</li>
                        <li>at given time.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>  
{% endblock %}  
    