section {
	padding-top: 150px;
    	padding-right: 0px;
    	padding-bottom: 150px;
    	padding-left: 0px;
	border-sizing: border-box; 
}

body { 
	padding-top: 68px; 
}

.container_home {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.container_blog {
	padding-right: 120px;
	padding-left: 120px;
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align : justify;
}

header {
	padding: 230px 0 200px;
	padding-top: 230px;
	padding-right: 0px;
	padding-bottom: 200px;
	padding-left: 0px;
}

.container_plot {
    padding-right: 120px;
    padding-bottom: 50px;
	padding-left: 120px;
}

.container_plot_slider {
    padding-right: 140px;
    padding-bottom: 50px;
	padding-left: 125px;
}

.container_plot_dropdown {
    padding-right: 100px;
    padding-bottom: 50px;
	padding-left: 75px;
}